.header{
    margin: auto;
    text-align: center;
    border: solid;
    border-color: rgb(1, 12, 84);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    padding: 0 10px 0 10px;
    background-color: rgb(94, 93, 196);
    border-radius: 12px;
}

.user-input{
    margin: auto;
    border: 2px solid rgb(1, 12, 84);
    width: 50%;
    padding: 15px 0 15px 20px;
    color: white;
    background-color: rgb(202, 141, 233);
    border-radius: 12px;
}

.button{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    border: solid;
    border-color: rgb(1, 12, 84);
    width: 13%;
    height: 32px;
    border-radius: 12px;
}